# Inherit requirements from the main requirements file
-r requirements.txt

# Development and testing dependencies
dill # for pytest pickling functions to send in testing multihost computations
rich # for visualizing data distribution on sharded arrays